/* 1.Basic /////////////////////////////////////////////////////////*/
html{
    background-color: beige;
    font-family: 'Fauna One' 'Times New Roman', Times, serif;
    margin: 0px;
    margin-left: 5%;
    padding: 0;
}

/* 2.Position /////////////////////////////////////////////////////*/
body{
    margin: 0;
}
header{
    margin: 0;
}
.side{
    display:flex;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 4%;
}
.side div{
    transform: rotate(90deg);   
    margin: 30px 0;
    padding-right: 5px;
    padding-left: 5px;
}
footer{
        position: absolute;
        bottom: 0px;
        width: 94%;
        display:flex;
        flex-direction: column;
        align-items: center;
}
.network{
    display: inline-flex;
}
.network img{
    height: 30px;
    padding: 5px;
    align-items: center;
}
.ft{
    display: inline-flex;
    flex-wrap: wrap;
}
#c{
    padding-left: 3px;

}
#l{
    padding-left: 20px;
}
.ft img{
    height: 50px;
}
.BackG{
    width: 500px;
    height: 500px;
    background-color: #E79A09;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    position: absolute;
    right: 10%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.BackG img{
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.title{
    padding-left: 150px;
    margin-top: 200px;
}

/* 3. Style ///////////////////////////////////////////////////////*/
a{
    text-decoration: none;
    color: black;
}
.re{
    font-size: 10px;
    text-align: center;
}
.title{
    padding-left: 150px;
    margin-top: 200px;
}
h1{
    font-family:'Cinzel Decorative', cursive;
    font-size: 5em;
}
h2{
    font-family:'Fauna One', serif;
    margin-left: 5px;
}
.side{
    box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.589);
    font-family:'League Gothic', sans-serif ;
    font-size: 1.5em;
}
.side div{
    cursor: pointer;
    box-sizing: border-box;
}
.side div:hover{
    border-bottom: 2px black solid;
}
footer{
    font-family:'Fauna One', serif;
}
.ft{
    font-family: 'Cinzel', serif;;
}

/* 4.Challenge///////////////////////////////////////////////////*/
.circle{
    width: 220px;
    height: 220px;
    clip-path: circle(50%);
    border-radius: 50%;
    position: relative;
    
}
.sky{
    position: static;
    background-color: #70E4E0;
    z-index: 0;
    height: 140px;
    width: 220px;
    animation: skyColor 5s  infinite ease-in-out forwards;
}
.sun{
    z-index: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #FFBE00;
    position: absolute;
    top: 40px;
    left: 20px;
    box-shadow: 0 0 5px 3px #FFBE00;
    transform-origin: 250% 600%;
    animation: sunMove 5s  infinite linear forwards;

}
.night{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30px;
    left: 20px;
    transform-origin: 140% 500%;
    animation: moonMove 5s  infinite linear forwards;
}
.moon{
    position: absolute;
    top: 2px;
    right: 4px;
    box-shadow: inset 3px -3px #FFFC00;
    z-index: 1;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.starA{
    width: 2px;
    height: 2px;
    z-index: 2;
    border-radius: 50%;
    background-color: #FFE300;
    position: relative;
    top: 7px;
    left: 40px;
    box-shadow: 0 0 5px 3px #FFFC00;
}
.starB{
    width: 2px;
    height: 2px;
    z-index: 2;
    border-radius: 50%;
    background-color: #FFE300;
    position: relative;
    top: 15px;
    left: 55px;
    box-shadow: 0 0 5px 3px #FFFC00;
}
.left{
    clip-path: polygon(0 100%, 100% 100%, 50% 0);
    height: 60px;
    width: 90px;
    background-color: #fae6c6;
    position: absolute;
    top: 90px;
    left: 60px;
    z-index: 3;
    animation: leftDark 5s  infinite linear forwards;
}
.right{
    clip-path: polygon(30% 100%, 100% 100%, 0 0);
    height: 60.31px;
    width: 60px;
    background-color: #fad79e;
    position: absolute;
    top: 90px;
    left: 105px;
    z-index: 3;
    animation: rightDark 5s  infinite linear forwards;
}
.shadow{
    position: absolute;
    top: 130px;
    left: -150px;
    width: 525px;
    height: 40px;
    background-color: #2b1c0438;
    clip-path: polygon(100% 100%, 40% 50%, 60% 50%);
    z-index: 2;
    animation: shadow 5s infinite linear;
}
.ground{
    background-color: #fdefae;
    background-size: 4px 4px;
    height: 140px;
    width: 220px;
    position: absolute;
    top: 140px;
    z-index: 1;
    animation: groundDark 5s  infinite linear forwards;
}

@keyframes skyColor{
    0%{background-color: #91eeeb;}
    20%{background-color: #5cf1ed;}
    80%{background-color: #273a79;}
    100%{background-color: #91eeeb;}
}
@keyframes sunMove{
    0%{transform:rotate(-20deg) ;}
    30%{transform: rotate(25deg)  ;}
    40%{transform: rotate(70deg)  ;}
    100%{transform: rotate(70deg)  ;}
}
@keyframes moonMove{
    0%{transform:rotate(-20deg) ;}
    50%{transform:rotate(-20deg) ;}
    85%{transform: rotate(20deg)  ;}
    95%{transform: rotate(70deg)  ;}
    100%{transform: rotate(70deg)  ;}
}
@keyframes shadow {
    0%{transform: scaleY(1.5);background-color: #2b1c0438;clip-path: polygon(100% 100%, 40% 50%, 60% 50%);}
    25%{transform: scaleY(0.5);background-color: #2b1c0438;clip-path: polygon(50% 100%, 40% 50%, 60% 50%);}
    35%{transform: scaleY(1.3);clip-path: polygon(11% 80%, 40% 50%, 60% 50%);}
    50%{transform: scaleY(1);background-color: #2b1c0400;clip-path: polygon(11% 70%, 40% 50%, 60% 50%);}
    0%{transform: scaleY(1);clip-path: polygon(90% 80%, 40% 50%, 60% 50%);}
    90%{transform: scaleY(1);background-color: #2b1c0400;clip-path: polygon(95% 80%, 40% 50%, 60% 50%);}
    100%{transform: scaleY(1);background-color: #2b1c0438;clip-path: polygon(100% 100%, 40% 50%, 60% 50%);}
}
@keyframes groundDark {
    0%{background-color: #fdefae;}
    20%{background-color: #fdefae;}
    80%{background-color: #8a8053;}
    100%{background-color: #fdefae;}
    
}
@keyframes leftDark {
    0%{background-color: #fae6c6;}
    20%{background-color: #fae6c6;}
    80%{background-color: #ac9c84;}
    100%{background-color: #fae6c6;}
}
@keyframes rightDark{
    0%{background-color: #fad79e;} 
    30%{background-color: #fad79e;}
    35%{background-color: #fddeab;}
    65%{background-color: #756f66;}
    85%{background-color: #756f66;}
    100%{background-color: #fad79e;}
}

/* 5. Responsive ///////////////////////////////////////////////*/
@media only screen and (max-width: 1500px){
    .BackG{
        width: 30vw;
        height: 30vw;
        position: absolute;    
        top:20%;
        right:10%
    }
    h1{
        font-size: 5vw;
    }
    h2{
        font-size: 2vw;
    }
    .title{
            padding-left: 100px;
            margin-top: 190px;
    }
    .BackG img{
        height:2vw;
    }
   
}

@media only screen and (max-height: 700px) {
    footer{
        margin-top: 50px;
        position: static;
    }
}

@media only screen and (max-width: 788px){
    body{
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }
    .side{
        width: 30px;
    }
    .BackG{
        width: 350px;
        height: 350px;
        position: relative;    
        margin: auto;
        top:0;
        right:0;
        }
    .title{
        padding-left:0;
        margin-top: 0;
        text-align: center;
    }
    h1{
        font-size: 2em;
    }
    footer{
        margin-top: 50px;
        position: static;
    }
    .BackG img{
        height: 20px;
        position: absolute;
    }
}
@media only screen and (max-width: 512px){
    .BackG{
        width: 250px;
        height: 250px;
        } 
    h2{
        font-size: 0.75em;
    }
}
@media only screen and (max-height: 700px){
    .title{
        margin-top: 5vh;
    }
    footer{
        margin-top: 80px;
    }
}