/* 1.Basic /////////////////////////////////////////////////////////*/
html{
    background-color: beige;
    font-family: 'Fauna One' 'Times New Roman', Times, serif;
    margin: 0px;
    margin-left: 5%;
    padding: 0;
}

/* 2.Position /////////////////////////////////////////////////////*/
body{
    margin: 0;
}
header{
    margin: 0;
}
.side{
    display:flex;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 4%;
}
.side div{
    transform: rotate(90deg);   
    margin: 30px 0;
    padding-right: 5px;
    padding-left: 5px;
}
footer{
        position: absolute;
        bottom: 0px;
        width: 94%;
        display:flex;
        flex-direction: column;
        align-items: center;
}
.network{
    display: inline-flex;
}
.network img{
    height: 30px;
    padding: 5px;
    align-items: center;
}
.ft{
    display: inline-flex;
    flex-wrap: wrap;
}
#c{
    padding-left: 3px;

}
#l{
    padding-left: 20px;
}
.ft img{
    height: 50px;
}
.BackG{
    width: 500px;
    height: 500px;
    background-color: #F48D8D;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    position: absolute;
    right: 10%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.BackG img{
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.title{
    padding-left: 150px;
    margin-top: 200px;
}

/* 3. Style ///////////////////////////////////////////////////////*/
a{
    text-decoration: none;
    color: black;
}
.re{
    font-size: 10px;
    text-align: center;
}
.title{
    padding-left: 150px;
    margin-top: 200px;
}
h1{
    font-family:'Cinzel Decorative', cursive;
    font-size: 5em;
}
h2{
    font-family:'Fauna One', serif;
    margin-left: 5px;
}
.side{
    box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.589);
    font-family:'League Gothic', sans-serif ;
    font-size: 1.3em;
}
.side div{
    cursor: pointer;
    box-sizing: border-box;
}
.side div:hover{
    border-bottom: 2px black solid;
}
footer{
    font-family:'Fauna One', serif;
}
.ft{
    font-family: 'Cinzel', serif;;
}

/* 4.Challenge///////////////////////////////////////////////////*/
.all{
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.second,
.third{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.shadow{
    position: absolute;
    stroke-linecap: round;
    stroke: #c9888880;
    transform: translate(-200px, 1px) scale(0.9);
}
.first{
    animation:  Beat 0.5s forwards infinite ease-in-out;
}
.second{
    animation: BeatA 2s forwards infinite ease-in-out;
}
.third{
    animation: BeatA 2s forwards infinite ease-in-out;
    animation-delay: 1s;
}
.shadowS,
.shadowT{
    position: absolute;
    stroke-linecap: round;
    stroke: #c9888880;
    transform: translate(-200px, 1px) scale(0.9);
}
p{
    position: absolute;
    bottom: -70px;
    color: white;
    font-size: 1em;
    width: 150px;
    font-family:'Fauna One', serif;
    text-align: center;
    font-weight: 700;
    opacity: 0;
}


.stop .first{
    animation:  Stop 0.5s forwards infinite ease-in-out;
}
.stop .second{
    animation: BeatB 2s forwards infinite ease-in-out;
}
.stop .third{
    animation: BeatB 2s forwards infinite ease-in-out;
    animation-delay: 1s;
}
.stop .sweet{
    animation: show 1s forwards ease-in-out;
}

.change .first{
    animation:  Beat 1s forwards infinite ease-in-out;
}
.change .second{
    animation: BeatA 2s forwards infinite ease-in-out;
}
.change .third{
    animation: BeatA 2s forwards infinite ease-in-out;
    animation-delay: 1s;
}
.change .sweet{
    animation: hide 1s forwards  ease-in-out;
}

@keyframes Beat {
    0%{transform: scale(0.85);}
    50%{transform: scale(0.9);}
    100%{transform: scale(0.85);}
}
@keyframes BeatA {
    0%{transform: scale(0.85);opacity: 1;}
    100%{transform: scale(2);opacity: 0;}
}
@keyframes Stop {
    0%{transform: rotate(0deg) translate(0,0);}
    25%{transform: rotate(3deg) translate(3px,5px);}
    75%{transform: rotate(-3deg) translate(-4px,1px);}
    100%{transform: rotate(0deg) translate(0,0px);}
}
@keyframes BeatB {
    0%{opacity: 0;}
    100%{opacity: 0;}
}
@keyframes show {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes hide {
    0%{opacity: 1;}
    100%{opacity: 0;}
}

/* 5. Responsive ///////////////////////////////////////////////*/
@media only screen and (max-width: 1500px){
    .BackG{
        width: 30vw;
        height: 30vw;
        position: absolute;    
        top:20%;
        right:10%
    }
    h1{
        font-size: 5vw;
    }
    h2{
        font-size: 2vw;
    }
    .title{
            padding-left: 100px;
            margin-top: 190px;
    }
    .BackG img{
        height:2vw;
    }
    p{
        font-size: 0.5em;
        bottom: -20px;
    }
   
}

@media only screen and (max-height: 700px) {
    footer{
        margin-top: 50px;
        position: static;
    }
}

@media only screen and (max-width: 788px){
    body{
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }
    .side{
        width: 30px;
    }
    .BackG{
        width: 350px;
        height: 350px;
        position: relative;    
        margin: auto;
        top:0;
        right:0;
        }
    .title{
        padding-left:0;
        margin-top: 0;
        text-align: center;
    }
    h1{
        font-size: 2em;
    }
    footer{
        margin-top: 50px;
        position: static;
    }
    .BackG img{
        height: 20px;
        position: absolute;
    }
    p{
        font-size: 0.5em;
        bottom: -20px;
    }
}
@media only screen and (max-width: 512px){
    .BackG{
        width: 250px;
        height: 250px;
        } 
    h2{
        font-size: 0.75em;
    }
    p{
        font-size: 0.5em;
        bottom: -20px;
    }
}
@media only screen and (max-height: 700px){
    .title{
        margin-top: 5vh;
    }
    footer{
        margin-top: 80px;
    }
}