/* 1.Basic /////////////////////////////////////////////////////////*/
html{
    background-color: beige;
    font-family: 'Fauna One' 'Times New Roman', Times, serif;
    margin: 0px;
    margin-left: 5%;
    padding: 0;
}

/* 2.Position /////////////////////////////////////////////////////*/
body{
    margin: 0;
}
header{
    margin: 0;
}
.side{
    display:flex;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 4%;
}
.side div{
    transform: rotate(90deg);   
    margin: 30px 0;
    padding-right: 5px;
    padding-left: 5px;
}
footer{
        position: absolute;
        bottom: 0px;
        width: 94%;
        display:flex;
        flex-direction: column;
        align-items: center;
}
.network{
    display: inline-flex;
}
.network img{
    height: 30px;
    padding: 5px;
    align-items: center;
}
.ft{
    display: inline-flex;
    flex-wrap: wrap;
}
#c{
    padding-left: 3px;

}
#l{
    padding-left: 20px;
}
.ft img{
    height: 50px;
}
.BackG{
    width: 500px;
    height: 500px;
    background-color: #2E86C1 ;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    position: absolute;
    right: 10%;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#cP{
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.title{
    padding-left: 150px;
    margin-top: 200px;
}

/* 3. Style ///////////////////////////////////////////////////////*/
a{
    text-decoration: none;
    color: black;
}
.re{
    font-size: 10px;
    text-align: center;
}
.title{
    padding-left: 150px;
    margin-top: 200px;
}
h1{
    font-family:'Cinzel Decorative', cursive;
    font-size: 5em;
}
h2{
    font-family:'Fauna One', serif;
    margin-left: 5px;
}
.side{
    box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.589);
    font-family:'League Gothic', sans-serif ;
    font-size: 1.5em;
}
.side div{
    cursor: pointer;
    box-sizing: border-box;
}
.side div:hover{
    border-bottom: 2px black solid;
}
footer{
    font-family:'Fauna One', serif;
}
.ft{
    font-family: 'Cinzel', serif;;
}

/* 4.Challenge///////////////////////////////////////////////////*/
.all{
    width: 250px;
    height: auto;
    display: inline-flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    cursor: pointer;

}
.hid{
    display: none;
}
.button{
    height: 48px;
    width: 200px;
    border-radius: 30px;
    border: rgb(255, 255, 255) 2px solid;
    position: relative;
    text-align: center;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-family:'Fauna One', serif ;
    cursor: pointer;
    letter-spacing: 1px;
    line-height: 48px;
    z-index: 1;
    font-weight: 600;
}
.button:hover{
    background-color: rgba(0, 0, 0, 0.137);
}
.check{
    opacity: 0;
    position: absolute;
    top: 17px;
    height: 20px;
    z-index: 4;
}
.circleB{
    position: absolute;
    top: -1px;
    left: 100px;
}
.circle{
    width: 50px;
    height: 50px;
    position:absolute;
    top: 0.5px;
    z-index: 2;
    fill: none;
    stroke: white;
    stroke-width: 2px;
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
}
#explo{
    width: 100px;
    height: auto;
    position: absolute;
    top: -27px;
    left: 75px;
    opacity: 0;
    z-index: 5;
}
.change .button{
    animation: frame 3s forwards;
}
.change .button:hover{
    background-color: rgba(127, 255, 212, 0);
}
.change .check{
    animation: check 3s forwards;
}
.change .circleB .circle{
    animation: circleT 3s forwards;
    animation-delay: 0.5s;
}

.back .check{
    animation: checkR 3s forwards;
}
.back .button{
    animation: frameR 3s forwards;
}
.back #explo{
    animation: explo 3s forwards;
}





@keyframes frame {
    0%{width: 200px;color: white;}
    25%{border: white 2px solid;color: rgba(255, 255, 255, 0);}
    50%{width: 48px;border: gray 1px solid;}
    80%{background-color:rgba(245, 222, 179, 0);border: gray 1px solid;;}
    100%{background-color: white;width: 48px;border: gray 2px solid;color: rgba(255, 255, 255, 0);}
}

@keyframes check {
    75%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes circleT {
    40%{stroke-dashoffset: 500;transform: rotate(-90deg);}
    60%{transform: scale(1,1)  rotate(-90deg);opacity: 1;}
    90%{stroke-dashoffset: 0;transform: scale(2,2)  rotate(-90deg);opacity: 0;}
    100%{transform: scale(2,2)  rotate(-90deg);opacity: 0;stroke-dashoffset: 0;}
}

@keyframes explo {
    0% {transform: scale(0,0);opacity: 1;}
    20%{transform: scale(2,2);opacity: 1;}
    30% {transform: scale(0,0);opacity: 1;}
    100% {transform: scale(0,0);opacity: 0;}
}

@keyframes checkR{
    0%{opacity: 1;}
    10%{opacity: 1;}
    20%{opacity: 0;}
    100%{opacity: 0;}

}

@keyframes frameR {
    0%{opacity: 1;background-color: white;width: 48px;border: gray 2px solid;color: rgba(255, 255, 255, 0);}
    10%{opacity: 1;}
    20%{opacity: 0;}
    30%{opacity: 1;transform: scale(0,0) rotate(0deg);}
    100%{opacity: 1;transform: scale(1,1) rotate(720deg);}

}



/* 5. Responsive ///////////////////////////////////////////////*/
@media only screen and (max-width: 1500px){
    .BackG{
        width: 30vw;
        height: 30vw;
        position: absolute;    
        top:20%;
        right:10%
    }
    h1{
        font-size: 5vw;
    }
    h2{
        font-size: 2vw;
    }
    .title{
            padding-left: 100px;
            margin-top: 190px;
    }
    .BackG img{
        height:2vw;
    }
   
}

@media only screen and (max-height: 700px) {
    footer{
        margin-top: 50px;
        position: static;
    }
}

@media only screen and (max-width: 788px){
    body{
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }
    .side{
        width: 30px;
    }
    .BackG{
        width: 350px;
        height: 350px;
        position: relative;    
        margin: auto;
        top:0;
        right:0;
        }
    .title{
        padding-left:0;
        margin-top: 0;
        text-align: center;
    }
    h1{
        font-size: 2em;
    }
    footer{
        margin-top: 50px;
        position: static;
    }
    .BackG img{
        height: 20px;
        position: absolute;
    }
}
@media only screen and (max-width: 512px){
    .BackG{
        width: 250px;
        height: 250px;
        } 
    h2{
        font-size: 0.75em;
    }
}
@media only screen and (max-height: 700px){
    .title{
        margin-top: 5vh;
    }
    footer{
        margin-top: 80px;
    }
}