/* 1.Basic /////////////////////////////////////////////////////////*/
html{
    background-color: beige;
    font-family: 'Fauna One' 'Times New Roman', Times, serif;
    margin: 0px;
    margin-left: 5%;
    padding: 0;
}

/* 2.Position /////////////////////////////////////////////////////*/
body{
    margin: 0;
}
header{
    margin: 0;
}
.side{
    display:flex;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 4%;
}
.side div{
    transform: rotate(90deg);   
    margin: 30px 0;
    padding-right: 5px;
    padding-left: 5px;
}
footer{
        position: absolute;
        bottom: 0px;
        width: 94%;
        display:flex;
        flex-direction: column;
        align-items: center;
}
.network{
    display: inline-flex;
}
.network img{
    height: 30px;
    padding: 5px;
    align-items: center;
}
.ft{
    display: inline-flex;
    flex-wrap: wrap;
}
#c{
    padding-left: 3px;

}
#l{
    padding-left: 20px;
}
.ft img{
    height: 50px;
}
.BackG{
    width: 500px;
    height: 500px;
    background-color: #A9F2B6;
    border-radius: 5px;
    box-shadow: 1px 1px 3px gray;
    position: absolute;
    right: 10%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.BackG img{
    height: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.title{
    padding-left: 150px;
    margin-top: 200px;
}

/* 3. Style ///////////////////////////////////////////////////////*/
a{
    text-decoration: none;
    color: black;
}
.re{
    font-size: 10px;
    text-align: center;
}
.title{
    padding-left: 150px;
    margin-top: 200px;
}
h1{
    font-family:'Cinzel Decorative', cursive;
    font-size: 5em;
}
h2{
    font-family:'Fauna One', serif;
    margin-left: 5px;
}
.side{
    box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.589);
    font-family:'League Gothic', sans-serif ;
    font-size: 1.5em;
}
.side div{
    cursor: pointer;
    box-sizing: border-box;
}
.side div:hover{
    border-bottom: 2px black solid;
}
footer{
    font-family:'Fauna One', serif;
}
.ft{
    font-family: 'Cinzel', serif;;
}

/* 4.Challenge///////////////////////////////////////////////////*/
.frame{
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    border: black 2px solid;
    width: 90px;
    height: 40px;
    background-color: rgb(76, 100, 82);
    overflow: hidden;
}
.cover{
    top: 3px;
    right: 3px;
    width: 90px;
    height: 40px;
    position: absolute;
    background-color: rgb(76, 100, 82);
    z-index: 1;
}
.color{
    border-radius: 20px;
    background-color: white;
    top: 3px;
    left: 3px;
    height: 34px;
    width: 84px;
    position: absolute;
    z-index: 0;
    
}
.circle{
    position: absolute;
    top: 2px;
    left: 2px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: black;
    z-index: 2;
}

.change .circle{
    animation: circle 1.5s forwards;
}
.change .cover{
    animation: cover 1.5s forwards;
}
.change .frame{
    animation: rotate 1.5s forwards;
}

.back .circle{
    animation: circleR 1.5s forwards;
}
.back .cover{
    animation: coverR 1.5s forwards;
}
.back .frame{
    animation: rotateR 1.5s forwards;
}

@keyframes circle {
    0% {transform: translate(0px,0);}
    35%{transform: translate(20px,0);background-color: black;}
    60%{transform: translate(50px,0);}
    100%{transform: translate(50px,0); background-color:#71b399;}
}
@keyframes cover {
    0% { width: 90px;}
    25%{ width: 50px;}
    100%{width: 0px;}
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    40%{transform: rotate(20deg);}
    100%{transform: rotate(360deg);}
}
@keyframes circleR {
    0% {transform: translate(50px,0);background-color:#71b399;}
    35%{transform: translate(30px,0);background-color:#71b399;}
    60%{transform: translate(0px,0);background-color:black;}
    100%{transform: translate(0px,0); background-color: black;}
}
@keyframes coverR {
    0% { width: 0px;}
    25%{ width: 32px;}
    100%{width: 90px;}
}
@keyframes rotateR {
    0% {transform: rotate(360deg);}
    40%{transform:  rotate(340deg);}
    100%{transform:  rotate(0deg);}
    
}


/* 5. Responsive ///////////////////////////////////////////////*/
@media only screen and (max-width: 1500px){
    .BackG{
        width: 30vw;
        height: 30vw;
        position: absolute;    
        top:20%;
        right:10%
    }
    h1{
        font-size: 5vw;
    }
    h2{
        font-size: 2vw;
    }
    .title{
            padding-left: 100px;
            margin-top: 190px;
    }
    .BackG img{
        height:2vw;
    }
   
}

@media only screen and (max-height: 700px) {
    footer{
        margin-top: 50px;
        position: static;
    }
}

@media only screen and (max-width: 788px){
    body{
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }
    .side{
        width: 30px;
    }
    .BackG{
        width: 350px;
        height: 350px;
        position: relative;    
        margin: auto;
        top:0;
        right:0;
        }
    .title{
        padding-left:0;
        margin-top: 0;
        text-align: center;
    }
    h1{
        font-size: 2em;
    }
    footer{
        margin-top: 50px;
        position: static;
    }
    .BackG img{
        height: 20px;
        position: absolute;
    }
}
@media only screen and (max-width: 512px){
    .BackG{
        width: 250px;
        height: 250px;
        } 
    h2{
        font-size: 0.75em;
    }
}
@media only screen and (max-height: 700px){
    .title{
        margin-top: 20vh;
    }
    footer{
        margin-top: 80px;
    }
}